= form_for @social_object do |f|
  - if @social_object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@social_object.errors.count, "error")} prohibited this social_object from being saved:"
      %ul
        - @social_object.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :corgi_foreign_key
    = f.number_field :corgi_foreign_key
  .field
    = f.label :corgi_create_date
    = f.datetime_select :corgi_create_date
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :uri
    = f.text_field :uri
  .actions
    = f.submit 'Save'
