.small-12.large-12.columns.bold
  %h3 Listing social_objects
  .go-left
    Corgi foreign key
  .go-left
    Corgi create date
  .go-left
    Type
  .go-left
    Title
  .go-left
    Description
  .go-left
    Uri
  .go-left
    %br
  .go-left
    %br
  .go-left
    %br

.small-12.large-12.columns
  - @social_objects.each do |social_object|
    .go-left
      = social_object.corgi_foreign_key
    .go-left
      = social_object.corgi_create_date
    .go-left
      = social_object.type
    .go-left
      = social_object.title
    .go-left
      = social_object.description
    .go-left
      = social_object.uri
    .go-left
      = link_to 'Show', social_object
    .go-left
      = link_to 'Edit', edit_social_object_path(social_object)
    .go-left
      = link_to 'Delete', social_object, :method => :delete, :data => { :confirm => 'Are you sure?' }
.small-12.large-12.columns
  %p
.small-12.large-2.columns.button
  = link_to 'New Social object', new_social_object_path