.small-12.large-12.columns
  %h3 Listing social_objects
  .small-12.large-2.columns
  .small-12.large-2.columns
    Corgi foreign key
  .small-12.large-2.columns
    Corgi create date
  .small-12.large-2.columns
    Type
  .small-12.large-2.columns
    Title
  .small-12.large-2.columns
    Description
  .small-12.large-2.columns
    Uri
    
.small-12.large-12.columns
  - @social_objects.each do |social_object|
    .small-12.large-2.columns
      = social_object.corgi_foreign_key
    .small-12.large-2.columns
      = social_object.corgi_create_date
    .small-12.large-2.columns
      = social_object.type
    .small-12.large-2.columns
      = social_object.title
    .small-12.large-2.columns
      = social_object.description
    .small-12.large-2.columns
      = social_object.uri
    .small-12.large-2.columns
      = link_to 'Show', social_object
    .small-12.large-2.columns
      = link_to 'Edit', edit_social_object_path(social_object)
    .small-12.large-2.columns
      = link_to 'Destroy', social_object, :method => :delete, :data => { :confirm => 'Are you sure?' }
%p
.small-12.large-12.columns
  = link_to 'New Social object', new_social_object_path
