%p#notice= notice

%p
  %b Corgi foreign key:
  = @social_object.corgi_foreign_key
%p
  %b Corgi create date:
  = @social_object.corgi_create_date
%p
  %b Type:
  = @social_object.type
%p
  %b Title:
  = @social_object.title
%p
  %b Description:
  = @social_object.description
%p
  %b Uri:
  = @social_object.uri

= link_to 'Edit', edit_social_object_path(@social_object)
\|
= link_to 'Back', social_objects_path
