%h1 Users#show
%p= @user.email

%ul
  - @user.identities.each do |identity|
    %li 
      #{identity.provider} - #{identity.uid} 
      = image_tag "#{identity.info['image']}"
      - radio_button_tag 'default_avatar', "#{identity.info['image']}"
