- if current_user && current_user.twitter_identity
  .identity.twitter
    .image
      = link_to image_tag(current_user.twitter_identity.info['image']), 'http://www.twitter.com/' + current_user.twitter_identity.info['nickname']
    .names
      .name
        = link_to current_user.twitter_identity.info['name'].truncate(25), 'http://www.twitter.com/' + current_user.twitter_identity.info['nickname']
      .nickname
        = "@" + current_user.twitter_identity.info['nickname'].truncate(20)
    = link_to "", identity_path(current_user.twitter_identity), method: 'delete', class: 'disconnect'
    = radio_button_tag current_user.id, current_user.twitter_identity.id, current_user.twitter_identity.info['image'] == current_user.avatar ? true : false, class: 'user-choose-madi-identity'
    .icon
      = image_tag "smi_twitter-logo.png", title: "Twitter"
    .clearfix
- else
  = link_to "Connect with Twitter", twitter_auth_path, :class => "button twitter expand large social-media"
%br
- if current_user && current_user.linkedin_identity
  .identity.linkedin
    .image
      = link_to image_tag(current_user.linkedin_identity.info['image']), 'http://www.linkedin.com/profile/view?id=' + current_user.linkedin_identity.uid
    .names
      .name
        = link_to current_user.linkedin_identity.info['name'].truncate(25), 'http://www.linkedin.com/profile/view?id=' + current_user.linkedin_identity.uid
    = link_to "", identity_path(current_user.linkedin_identity), method: 'delete', class: 'disconnect'
    = radio_button_tag current_user.id, current_user.linkedin_identity.id, current_user.linkedin_identity.info['image'] == current_user.avatar ? true : false, class: 'user-choose-madi-identity'
    .icon
      = image_tag "smi_linkedin-logo.png", title: "LinkedIn"
    .clearfix
- else
  = link_to "Connect with LinkedIn", linkedin_auth_path, :class => "button linkedin expand large social-media"
%br
- if current_user && current_user.facebook_identity
  .identity.facebook
    .image
      = link_to image_tag(current_user.facebook_identity.info['image']), 'http://www.facebook.com/profile.php?id=' + current_user.facebook_identity.uid
    .names
      .name
        = link_to current_user.facebook_identity.info['name'].truncate(25), 'http://www.facebook.com/profile.php?id=' + current_user.facebook_identity.uid
    = link_to "", identity_path(current_user.facebook_identity), method: 'delete', class: 'disconnect'
    = radio_button_tag current_user.id, current_user.facebook_identity.id, current_user.facebook_identity.info['image'] == current_user.avatar ? true : false, class: 'user-choose-madi-identity'
    .icon
      = image_tag "smi_fb-logo.png", title: "Facebook"
    .clearfix
- else
  = link_to "Connect with Facebook", facebook_auth_path, :class => "button facebook expand large social-media"
%br
- if current_user && current_user.googleplus_identity
  .identity.googleplus
    .image
      = link_to image_tag(current_user.googleplus_identity.info['image']), 'http://plus.google.com/' + current_user.googleplus_identity.uid
    .names
      .name
        = link_to current_user.googleplus_identity.info['name'].truncate(25), 'http://plus.google.com/' + current_user.googleplus_identity.uid
    = link_to "", identity_path(current_user.googleplus_identity), method: 'delete', class: 'disconnect'
    = radio_button_tag current_user.id, current_user.googleplus_identity.id, current_user.googleplus_identity.info['image'] == current_user.avatar ? true : false, class: 'user-choose-madi-identity'
    .icon
      = image_tag "smi_gplus-logo.png", title: "Google"
    .clearfix
- else
  = link_to "Connect with Google", googleplus_auth_path, :class => "button googleplus expand large social-media"
