- if current_user && current_user.linkedin_identity
  .identity.linkedin.clearfix
    .image
      = link_to image_tag(current_user.linkedin_identity.info['image']), 'http://www.linkedin.com/profile/view?id=' + current_user.linkedin_identity.uid
    .names
      .name
        = link_to current_user.linkedin_identity.info['name'].truncate(25), 'http://www.linkedin.com/profile/view?id=' + current_user.linkedin_identity.uid
    = link_to "", identity_path(current_user.linkedin_identity), method: 'delete', class: 'disconnect'
    = f.radio_button :default_identity_id, current_user.linkedin_identity.id
    .icon
      = image_tag "smi_linkedin-logo.png", title: "LinkedIn"
- else
  = link_to "Connect with LinkedIn", linkedin_auth_path, :class => "btn btn-lg btn-block linkedin social-media"
%br
- if current_user && current_user.facebook_identity
  .identity.facebook.clearfix
    .image
      = link_to image_tag(current_user.facebook_identity.info['image']), 'http://www.facebook.com/profile.php?id=' + current_user.facebook_identity.uid
    .names
      .name
        = link_to current_user.facebook_identity.info['name'].truncate(25), 'http://www.facebook.com/profile.php?id=' + current_user.facebook_identity.uid
    = link_to "", identity_path(current_user.facebook_identity), method: 'delete', class: 'disconnect'
    = f.radio_button :default_identity_id, current_user.facebook_identity.id
    .icon
      = image_tag "smi_fb-logo.png", title: "Facebook"
- else
  = link_to "Connect with Facebook", facebook_auth_path, :class => "btn btn-lg btn-block facebook social-media"
%br
- if current_user && current_user.google_identity
  .identity.googleplus.clearfix
    .image
      = link_to image_tag(current_user.google_identity.info['image']), 'http://plus.google.com/' + current_user.google_identity.uid
    .names
      .name
        = link_to current_user.google_identity.info['name'].truncate(25), 'http://plus.google.com/' + current_user.google_identity.uid
    = link_to "", identity_path(current_user.google_identity), method: 'delete', class: 'disconnect'
    = f.radio_button :default_identity_id, current_user.google_identity.id
    .icon
      = image_tag "smi_gplus-logo.png", title: "Google"
- else
  = link_to "Connect with Google", google_auth_path, :class => "btn btn-lg btn-block googleplus social-media"
%br
- if current_user && current_user.twitter_identity
  .identity.twitter.clearfix
    .image
      = link_to image_tag(current_user.twitter_identity.info['image']), 'http://www.twitter.com/' + current_user.twitter_identity.info['nickname']
    .names
      .name
        = link_to current_user.twitter_identity.info['name'].truncate(25), 'http://www.twitter.com/' + current_user.twitter_identity.info['nickname']
      .nickname
        = "@" + current_user.twitter_identity.info['nickname'].truncate(20)
    = link_to "", identity_path(current_user.twitter_identity), method: 'delete', class: 'disconnect'
    = f.radio_button :default_identity_id, current_user.twitter_identity.id
    .icon
      = image_tag "smi_twitter-logo.png", title: "Twitter"
- else
  = link_to "Connect with Twitter", twitter_auth_path, :class => "btn btn-lg btn-block twitter expand social-media"

- if current_user
  %br
  .identity.default-identity
    = render 'users/default_identity', user: current_user, f: f
