.small-12.large-7.columns
  .header{ :height => "56px"}
    = image_tag "madi-logo.png", title: "MADi logo", :height => "56px", :width => "146px"
  .left-content
    %h2.subheader
      Discover Madison Innovation
    %p
      Connect. Find the tread. Get involved. Involve yourself. Dig in. Get tied in. Red thread. Discover Madison. Find the thread. Follow the thread. Madison business connections. Join Madison's innovation network
.small-12.large-4.columns
  - if current_user
    = form_for current_user do |f|
      = render "shared/social_buttons", f: f
      .default-avatar
        = image_tag "#{current_user.avatar}"
        Your MADi identity
      %br
      = f.label :email, "Default Email"
      = f.text_field :email
      = f.label :mobile_num, "Mobile Number"
      = f.text_field :mobile_num
      = f.submit 'Set your MADi identity', class: 'button'
  - else
    = render "shared/social_buttons"