.small-12.large-7.columns
  .header{ :height => "56px"}
    = image_tag "madi-logo.png", title: "MADi logo", :height => "56px", :width => "146px"
  .left-content
    // - if !current_user
    %h2.subheader
      Discover Madison Innovation
    %p
      Connect. Find the tread. Get involved. Involve yourself. Dig in. Get tied in. Red thread. Discover Madison. Find the thread. Follow the thread. Madison business connections. Join Madison's innovation network
.small-12.large-4.columns
  - if current_user && current_user.twitter_identity
    .identity.twitter
      .image
        = image_tag current_user.twitter_identity.info['image']
      .nickname
        = "@" + current_user.twitter_identity.info['nickname']
      .clearfix
  - else
    = link_to "Connect with Twitter", twitter_auth_path, :class => "button twitter expand large social-media"
  %br
  - if current_user && current_user.linkedin_identity
    .identity.linkedin
      .image
        = image_tag current_user.linkedin_identity.info['image']
      .nickname
        = current_user.twitter_identity.info['nickname']
      .clearfix
  - else
    = link_to "Connect with LinkedIn", linkedin_auth_path, :class => "button linkedin expand large social-media"
  %br
  - if current_user && current_user.facebook_identity
    .identity.facebook
      .image
        = image_tag current_user.facebook_identity.info['image']
      .nickname
        = current_user.facebook_identity.info['nickname']
      .clearfix
  - else
    = link_to "Connect with Facebook", facebook_auth_path, :class => "button facebook expand large social-media"
  %br
  - if current_user && current_user.googleplus_identity
    .identity.googleplus
      .image
        = image_tag current_user.googleplus_identity.info['image']
      .nickname
        = current_user.googleplus_identity.info['email']
      .clearfix
  - else
    = link_to "Connect with Google", googleplus_auth_path, :class => "button googleplus expand large social-media"
  %br
  = form_tag() do
    // = label_tag('email', 'Email Address')
    = text_field_tag('email')
  / %br
  / = link_to "Sign Out", sessions_destroy_path, :class => "right"
