.event-wrapper.col-md-4
  .an-event
    .event-info
      .title
        %h3
          = link_to event.title, event
      - if event.start_time
        .time
          = event.display_time
      .location
        - if event.address_line_1.present?
          = event.display_address
      - if event.description.present?
        .description
          = truncate event.description, length: 150
      -# .price
      -#   - if event.price == 0 || event.price == nil
      -#     No charge
      -#   - else
      -#     = "$" + event.price.to_s
      - if defined?(rank)
        - rank.associated_follows.each do |user|
          = image_tag user.avatar, title: user.name, height: '30px'
      .actions
        - if current_user && current_user.registered?(event)
          = link_to cancel_registration_event_path(event), method: :delete do
            .attending.click-to-cancel
              %span.text Attending
              = image_tag('check.png', title: 'Attending. Click to cancel registration.', width: "36px", height: "35px")
        - else
          = link_to event_registrations_path(event), method: :post do
            .attend
              %span.text Attend
              = image_tag('add.png', title: 'Click to attend', width: "36px", height: "35px")
        - if current_user && current_user.amplified?(event)
          .amped
            %span.text
              Amped
            = image_tag('amp.png', title: "Amplified", width: "36px", height: "35px")
        - else
          = link_to amps_path(event_id: event.id), method: :post do
            .amp
              %span.text
                Amplify
              = image_tag('amped.png', title: "Amplify", width: "36px", height: "35px")
