- content_for(:head) do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
- content_for(:body) do
  = javascript_include_tag "places.js"
= form_for @event do |f|
  .small-12.large-7.columns
    = f.text_field :existing_url, placeholder: "Meetup or Eventbrite URL"
    %p
      OR
    .event-title
      .field.title
        = f.label :title
        = f.text_field :title, placeholder: "Title"
    .field.url
      = f.label :url
      = f.text_field :url, placeholder: "http://www.myeventurl.com"
    .field.description
      = f.label :description
      = f.text_area :description, rows: "3", placeholder: "Description"
    .field.address
      = f.label "Venue"
      = f.text_area :address_line_1, rows: "3", type: 'text', placeholder: "Venue"
    #map-canvas{ :style => "height: 300px;" }
  .small-12.large-5.columns
    .field.organization
      = label_tag :organization
      = f.text_field :organization_name, placeholder: "Organization"
    .event-price
      .radio-buttons
        .field-and-label
          = check_box_tag :enable_fee
          = label_tag :enable_fee, "Admission Fee"
      = f.label :price
      = f.text_field :price
    .fields.date-time
      = f.label :start_time
      = f.datetime_field :start_time, ampm: true, id: "datepicker", data: {format: "A, b MM hh:mmp"}, placeholder: "Start time"
    .fields.date-time
      = f.label :end_time
      = f.datetime_field :end_time, ampm: true, id: "datepicker2", data: {format: "A, b MM hh:mmp"}, placeholder: "End time"
    .actions
      = f.submit 'Save', :class => "button right"
