= form_for @event do |f|
  .small-12.large-7.columns
    .event-title
      %h1.field.title
        = f.label :title
        = f.text_field :title, placeholder: "Title"
    .field.uri
      = label_tag "uri", "Website"
      = text_field_tag "uri", nil, placeholder: "Website"
    .field.description
      = f.label :description
      = f.text_area :description, rows: "20", placeholder: "Description"
  .small-12.large-5.columns
    .event-price
      .radio-buttons
        .field-and-label
          = radio_button_tag "fee", "no_charge", :checked => true
          = label_tag "fee_no_charge", "No fee"
        .field-and-label
          = radio_button_tag "fee", "has_charge"
          = label_tag "fee_has_charge", "Has a fee"
      = f.label :price
      = f.number_field :price
    .fields.date-time
      = f.label :start_time
      = f.datetime_select :start_time, ampm: true
      = f.label :end_time
      = f.datetime_select :end_time, ampm: true
    .fields.location
      .field.address_1
        = f.label :address_line_1
        = f.text_field :address_line_1, placeholder: "Address line 1"
      .field.address_2
        = f.label :address_line_2
        = f.text_field :address_line_2, placeholder: "Address line 2"
      .field.city
        = f.label :city
        = f.text_field :city, placeholder: "City"
      .field.state
        = f.label :state
        = f.text_field :state, placeholder: "State"
      .field.zip-code
        = f.label :zip_code
        = f.text_field :zip_code, placeholder: "Zip code"
      .clearfix
    .actions
      = f.submit 'Save', :class => "button"
