= form_for @event do |f|
  .small-12.large-7.columns
    .event-title
      %h1.field.title
        = f.label :title
        = f.text_field :title, placeholder: "Title"
    .field.description
      = f.label :description
      = f.text_area :description, rows: "20", placeholder: "Description"
    .field.organization
      = f.label :organization
      = collection_select(:event, :organization_id, Organization.all, :id, :name)
    .field.url
      = f.label :url
      = f.text_field :url, placeholder: "http://www.myeventurl.com"
  .small-12.large-5.columns
    .event-price
      .radio-buttons
        .field-and-label
          = check_box_tag :enable_fee
          = label_tag :enable_fee, "Admission Fee"
      = f.label :price
      = f.text_field :price
    .fields.date-time
      = f.label :start_time
      = f.datetime_field :start_time, ampm: true, id: "datepicker", data: {format: "dd/MM/yyyy hh:mm"}
    .fields.date-time
      = f.label :end_time
      = f.datetime_field :end_time, ampm: true, id: "datepicker2", data: {format: "dd/MM/yyyy hh:mm"}
    .fields.location
      .field.address_1
        = f.label :address_line_1
        = f.text_field :address_line_1, placeholder: "Address line 1"
      .field.address_2
        = f.label :address_line_2
        = f.text_field :address_line_2, placeholder: "Address line 2"
      .field.city
        = f.label :city
        = f.text_field :city, placeholder: "City"
      .field.state
        = f.label :state
        = f.text_field :state, placeholder: "State"
      .field.zip-code
        = f.label :zip_code
        = f.text_field :zip_code, placeholder: "Zip code"
      .clearfix
    .actions
      = f.submit 'Save', :class => "button"
