- content_for(:head) do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"

= form_for [@event] do |f|
  = f.hidden_field :lat, class: 'form-control'
  = f.hidden_field :lon, class: 'form-control'
  = f.hidden_field :address_line_2, class: 'form-control'
  = f.hidden_field :city, class: 'form-control'
  .form-group
    = f.label :title, "Event Name"
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :date, "Start Date/Time"
    = f.text_field :start_time, class: 'form-control'
  .form-group
    = f.label :end_time, "End Date/Time"
    = f.text_field :end_time, class: 'form-control'
  .form-group
    = f.label :url, "Website"
    = f.text_field :url, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, rows: "3", class: 'form-control'
  .form-group
    = f.label "Venue"
    = f.text_area :address_line_1, rows: "3", class: 'form-control', id: 'places-autocomplete'
  .form-group
    = label_tag :organization
    = f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, class: 'form-control'
  .form-group
    = f.label :price, "Display Price"
    = f.text_field :price, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
