= form_for @event do |f|
  .small-12.large-7.columns
    .field.title
      = f.label :title
      = f.text_field :title, placeholder: "Title"
    .field.description
      = f.label :description
      = f.text_area :description, rows: "3", placeholder: "Description"
    .field.organization
      = f.label :organization
      = collection_select(:event, :organization_id, Organization.all, :id, :name)
  .small-12.large-5.columns
    .event-price
      .radio-buttons
        .field-and-label
          = radio_button_tag "fee", "no_charge", :checked => true
          = label_tag "fee_no_charge", "No fee"
        .field-and-label
          = radio_button_tag "fee", "has_charge"
          = label_tag "fee_has_charge", "Has a fee"
      = f.label :price
      = f.number_field :price
    .fields.date-time
      = f.label :start_time
      = f.datetime_field :start_time, ampm: true, id: "datepicker", data: {format: "dd/MM/yyyy hh:mm"}, placeholder: "Start time"
    .fields.date-time
      = f.label :end_time
      = f.datetime_field :end_time, ampm: true, id: "datepicker2", data: {format: "dd/MM/yyyy hh:mm"}, placeholder: "End time"
    .fieldset.location
      .field.location-name
        = label_tag "Location name"
        = text_field_tag "Location name", nil, placeholder: "Name"
      .field.address_1
        = f.label :address_line_1
        = f.text_field :address_line_1, placeholder: "Address line 1"
      .field.address_2
        = f.label :address_line_2
        = f.text_field :address_line_2, placeholder: "Address line 2"
      .field.city
        = f.label :city
        = f.text_field :city, placeholder: "City"
      .field.state
        = f.label :state
        = f.text_field :state, placeholder: "State"
      .field.zip-code
        = f.label :zip_code
        = f.text_field :zip_code, placeholder: "Zip code"
      .clearfix
    .actions
      = f.submit 'Save', :class => "button right"
