- content_for(:head) do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
.content-wrapper
  = form_for [@event] do |f|
    = f.hidden_field :lat, class: 'form-control'
    = f.hidden_field :lon, class: 'form-control'
    = f.hidden_field :address_line_2, class: 'form-control'
    = f.hidden_field :city, class: 'form-control'
    .row.top-section
      .col-xs-12.col-md-8
        .form-group.title
          = f.label :title, class: 'sr-only'
          = f.text_field :title, class: 'form-control'
      .new-event-action.col-xs-6.col-md-4
        .form-group.submit
          = f.submit 'Save Event', class: 'btn btn-primary btn-default btn-lg'
        .cancel-edit
          = link_to 'Cancel', event_path, :class => 'btn btn-default btn-lg'
    .section-divider
      %hr
    #event-left.col-xs-12.col-md-8
      .event-time.form-inline
        .form-group.start.date
          = f.label :start_time, "Start Date", class: 'sr-only'
          = f.date_field :start_time, class: 'form-control'
        .form-group.start.time
          = f.label :start_time, class: 'sr-only'
          = f.time_select :start_time, class: 'form-control', ampm: true, minute_step: 15, ignore_date: true
        .date-form-divider{style: "display: inline-block;"}
          to
        .form-group.end.date
          = f.label :end_time, "End Date", class: 'sr-only'
          = f.date_field :end_time, class: 'form-control'
        .form-group.end.time
          = f.label :end_time, class: 'sr-only'
          = f.time_select :end_time, class: 'form-control', ampm: true, minute_step: 15, ignore_date: true
      .the-event
        .event-organization
          .form-group
            = f.label :organization_name, "Presented by"
            = f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, class: 'form-control'
        .event-description
          .form-group
            = f.label :description, class: 'sr-only'
            = f.text_area :description, rows: "3", class: 'form-control'
    #event-right.col-xs-6.col-md-4
      .event-details
        - if @event.lat && @event.lon
          .event-map
            #map-canvas{style: "width: 100%; height: 300px;"}
        .form-group
          = f.label "Venue", class: 'sr-only'
          = f.text_area :address_line_1, rows: "3", class: 'form-control', id: 'places-autocomplete'
        .form-group
          = f.label :url, class: 'sr-only'
          = f.text_field :url, class: 'form-control'
        .form-group
          = f.label :price, "Display Price"
          = f.text_field :price, class: 'form-control'
        .form-group.submit
          = f.submit 'Save Event', class: 'btn btn-primary btn-default btn-lg'
