.row.main-content
  .small-12.large-6.columns
    - @events.each do |event|
      .row.an-event
        .small-4.large-2.columns.actions
          - if current_user.registered?(event)
            .row.attending
              .button.success.small.expand
                Attending
            .row.cancel
              = link_to 'Cancel', cancel_registration_event_path(event), method: :delete, :class => "button small secondary expand"
          - else
            = link_to 'Attend', event_registrations_path(event), method: :post, :class => "button small expand"
        .small-8.large-10.columns.event-info
          .row
            %h3
              = link_to event.title, event
          .row.time
            = l event.start_time, :format => "%a, %b %d"
          .row.location
            = event.address_line_1 + ", " + event.city
