.row.main-content
  .small-12.large-6.columns
    - @events.order("start_time asc").each do |event|
      .row.an-event
        .small-3.large-2.columns.actions
          - if current_user && current_user.registered?(event)
            .row.attending
              .button.success.small.expand
                Attending
            .row.cancel
              = link_to 'Cancel Registration', cancel_registration_event_path(event), method: :delete, :class => "button small secondary expand"
          - else
            .row.attend
              = link_to 'Attend', event_registrations_path(event), method: :post, :class => "button small expand"
          - if current_user && current_user.amplified?(event)
            .row
              .button.success.small.expand
                Amplified!
          - else
            .row
              = link_to 'Amplify', amps_path(event_id: event.id), method: :post, :class => "button small expand"
        .small-9.large-10.columns.event-info
          .row
            %h3
              = link_to event.title, event
          - if event.start_time
            .row.time
              = event.start_time.strftime("%a %b #{event.start_time.day.ordinalize}, %l:%M %p")
          .row.location
            - if event.address_line_1.present?
              = event.address_line_1
          .row.price
            - if event.price == 0 || event.price == nil
              No charge
            - else
              = "$" + event.price.to_s
    %p.ical_link
      = link_to 'iCal', events_path(format: :ics)
      = link_to 'webCal', 'webcal://localhost:3000/events.ics'
