- content_for(:head) do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"

.row.top-section
  %h1.event-page-header
    = @event.title
  - if current_user && ( current_user.created_events.include?(@event) || current_user.hosted_events.include?(@event) )
    .new-event-action.clearfix
      .edit
        = link_to "Edit", edit_event_path, class: 'btn btn-default btn-lg'
      .csv
        = link_to 'Attendee CSV', event_registrations_path(@event, format: :csv), :class => 'btn btn-default btn-lg'
.section-divider
  %hr
.row
  #event-left.col-xs-12.col-md-8
    .event-time.red-banner
      #{@event.display_date},
      - if @event.end_time.present?
        = @event.start_time.strftime("%l:%M %p")+ " to " + @event.end_time.strftime("%l:%M %p")
      - else
        = @event.start_time.strftime("%l:%M %p")
    .the-event.clearfix
      - if @event.organization
        .event-organization
          %p
            Presented by
            = @event.organization.name
      - if @event.description
        .event-description
          %p
            =simple_format h auto_link(@event.description).html_safe
      / .actions
      /   - if current_user && current_user.registered?(@event)
      /     = link_to cancel_registration_event_path(@event), method: :delete do
      /       .attending.click-to-cancel
      /         %span.text
      /           Attending
      /         = image_tag('check.png', title: 'Attending. Click to cancel registration.', width: "36px", height: "35px")
      /   - else
      /     = link_to event_registrations_path(@event), method: :post do
      /       .attend
      /         %span.text
      /           Attend
      /         = image_tag('add.png', title: 'Click to attend', width: "36px", height: "35px")
      /   - if current_user && current_user.amplified?(@event)
      /     .amped
      /       %span.text
      /         Amped
      /       = image_tag('amp.png', title: "Amplified", width: "36px", height: "35px")
      /   - else
      /     = link_to amps_path(event_id: @event.id), method: :post do
      /       .amp
      /         %span.text
      /           Amplify
      /         = image_tag('amped.png', title: "Amplify", width: "36px", height: "35px")

      / .event-price
      /   - if @event.price == 0 || @event.price == nil
      /     %p No charge
      /   - else
      /     %p
      /       Cost:
      /       = "$" + @event.price.to_s
  #event-right.col-xs-6.col-md-4
    .event-details
      - if @event.lat && @event.lon
        .event-map
          #map-canvas{style: "width: auto; height: 300px; object-fit: cover;", :data => {:lat => @event.lat, :lon => @event.lon}}
            = link_to "http://maps.google.com/?q=#{@event.lon},#{@event.lat}" do
              %img.img-responsive{src: "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=400x300&maptype=roadmap&markers=color:red%7C#{@event.lon},#{@event.lat}&sensor=false", style: "width: auto; height: 300px;"}
      .event-location
        = @event.address_line_1
      .event-time-event-page
        = @event.display_date
        - if @event.end_time.present?
          = @event.start_time.strftime("%l:%M %p")+ " to " + @event.end_time.strftime("%l:%M %p")
        - else
          = @event.start_time.strftime("%l:%M %p")
      .event-price
        - if @event.price == 0 || @event.price == nil
          %p No charge
        - else
          %p
            Cost:
            = "$" + @event.price.to_s
      .event-url
        = link_to @event.url, @event.url

      .hosts
        %h3 Hosts
        %ul
          - @event.hosts.each do |user|
            %p
              = user.name
              |

      .attendees
        %h3 ATTENDEES
        %ul
          - @event.attendees.each do |user|
            %p
              = user.name
              |

- content_for :javascript do
  :javascript
    var mapLat = document.getElementById('map-canvas').dataset.lat
    var mapLon = document.getElementById('map-canvas').dataset.lon
    var latLon = new google.maps.LatLng(mapLon, mapLat);
    var mapOptions = {
      center: latLon,
      radius: 50000,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    var marker = new google.maps.Marker({
      position: latLon,
      map: map
    });
