.row.main-content
  .small-12.large-7.columns
    .event-title
      %h1
        = @event.title

    .event-description
      %p
        =simple_format h @event.description.html_safe

  .small-12.large-4.columns
    .event-actions
      = link_to 'Attend', event_registrations_path(@event), method: :post, class: :button
      = link_to 'Edit', edit_event_path(@event)
    .event-price
      - if @event.price == 0
        %p Free
      - else
        %p
          = "$" + @event.price.to_s
    .event-time
      = @event.start_time.to_formatted_s(:short) + " to " + @event.end_time.to_formatted_s(:short)
    .event-location
      %p
        = @event.address_line_1
        - if @event.address_line_2 != ""
          %br
          = @event.address_line_2
        %br
        = @event.city + ', ' + @event.state + ' ' + @event.zip_code

    .hosts
      %h3 Hosts
      %ul
        - @event.hosts.each do |user|
          %li= user.display_name


    .attendees
      %h3 Attendees
      %ul
        - @event.attendees.each do |user|
          %li= user.display_name

