.row.main-content
  .small-12.large-7.columns
    .event-title
      %h1
        = @event.title

    .event-description
      %p
        =simple_format h @event.description.html_safe
    .event-link
      = link_to "#{@event.uri}", @event.uri

  .small-12.large-4.columns
    .event-actions
      = link_to 'Attend', new_attendee_event_path(@event), :class => "button"
      = link_to 'Edit', edit_event_path(@event)
      = link_to 'Edit', '#', class: 'edit-event'
    .event-price
      - if @event.price == 0
        %p Free
      - else
        %p
          = "$" + @event.price
    .event-time
      = @event.start_time.to_formatted_s(:short) + " to " + @event.end_time.to_formatted_s(:short)
    .event-location
      %p
        = @event.address_line_1
        - if @event.address_line_2 != ""
          %br
          = @event.address_line_2
        %br
        = @event.city + ', ' + @event.state + ' ' + @event.zip_code
