%p#notice= notice

%p
  %b Name:
  = @venue.name
%p
  %b Description:
  = @venue.description
%p
  %b Capacity:
  = @venue.capacity
%p
  %b Street address 1:
  = @venue.street_address_1
%p
  %b Street address 2:
  = @venue.street_address_2
%p
  %b City:
  = @venue.city
%p
  %b State:
  = @venue.state
%p
  %b Zip:
  = @venue.zip
%p
  %b Uri:
  = @venue.uri
%p
  %b Contact name:
  = @venue.contact_name
%p
  %b Contact email:
  = @venue.contact_email
%p
  %b Contact phone:
  = @venue.contact_phone

= link_to 'Edit', edit_venue_path(@venue)
\|
= link_to 'Back', venues_path
