= form_for @payment do |f|
  %h1.field.name
    = f.label :cardholder_name
    = f.text_field :cardholder_name
    = f.label :card_type
    = f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]
    = f.label :card_number
    = f.text_field :card_number, placeholder: 'Credit Card Number'
    = f.label :card_verification, "Card Verification Value (CVV)"
    = f.text_field :card_verification
    = f.label :card_expires_on
    = f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true
    = f.hidden_field :amount_in_cents, value: @registration.event.price*100
    = f.hidden_field :registration_id, value: @registration.id
    = fields_for @registration.user do |u|
      = u.label :address_line_1
      = u.text_field :address_line_1
      = u.label :address_line_2
      = u.text_field :address_line_2
      = u.label :city
      = u.text_field :city
      = u.label :state
      = u.text_field :state
      = u.label :zip_code
      = u.text_field :zip_code
  = f.submit 'Save', :class => "button"