.row.main-content
  %h1 Organizations List
  = link_to 'Create an Organization', new_organization_path
  .clearfix
  .small-12.large-7.columns.event-list-wrapper
    - @organizations.each do |organization|
      .event-wrapper.row
        .event-details.small-10.columns
          .event-title
            %h4
              = organization.name
          .description
            %p
              = organization.description
          .description
            %p
              = organization.street_address_1
          .description
            %p
              = organization.street_address_2
          .description
            %p
              = organization.city
          .description
            %p
              = organization.state
          .description
            %p
              = organization.zip
          .description
            %p
              = organization.contact_name
          .description
            %p
              = organization.contact_email
          .description
            %p
              = organization.contact_phone
        .event-actions.small-2.columns
          .edit
            = link_to 'Edit', edit_organization_path(organization), class: "button small secondary expand"