.small-12.large-6.columns.supporters
  %h4.subheader These people and organizations support MADi
  .row
    .small-3.large-4.columns
      .s-logo
        = link_to image_tag("horizon-new.png", title: "Horizon Coworking"), "http://horizoncw.com"
    .small-4.large-4.columns
      .s-logo
        = link_to image_tag("murfie_pink.png", title: "Murfie"), "http://murfie.com"
    .small-4.large-4.columns
      .s-logo
        = link_to image_tag("madisonium.png", title: "Madisonium"), "http://madisonium.org"
  .row
    .small-4.large-4.columns
      .s-logo
        = link_to image_tag("gmcc.png", title: "Greater Madison Chamber of Commerce"), "http://greatermadisonchamber.com/"

.small-12.large-5.columns.support-contrib
  .support
    %h4.subheader Support MADi development
    = render "paypal_button"
  .contribute
    = form_for :contribution, url: contributions_path, method: :post do |f|
      = f.label :note, 'Contribute to MADi development'
      = f.text_area :note
      = f.label :email, 'Email Address'
      = f.text_field :email
      = f.submit 'Contribute', class: "button contribute right secondary"
