!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "MADi: discover Madison innovation"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body{ class: "#{controller_name} #{action_name}" }
    = render 'shared/nav'
    = render 'layouts/flashes'
    .columns
      .row.main-content
        = yield
    .footer
      - if (params[:controller] == 'home')
        .photo-credit
          Photograph by
          = link_to "Richard Hurd", "http://www.flickr.com/photos/rahimageworks/"
          ,
          = link_to "CC BY 2.0", "http://creativecommons.org/licenses/by/2.0/deed.en"
      = link_to image_tag("mom-small.png", title: "Made of Madison", class: "top"), "http://www.madeofmadison.com"
      = link_to image_tag("cc-sa.png", title: "CC license", class: "bottom"), "http://creativecommons.org/licenses/by/3.0/"
    = javascript_include_tag "application"
